body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: rgb(129, 74, 230);
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 15px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    position: relative;
    
  }

    .parallax-inner img {
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
 
}

  .parallax-inner:hover img{
  transform: scale(1.1); /* Adjust the scale factor for the zoom effect */}

  p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 251, 255);
  }

  ol{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    color: darkseagreen;

  }

  ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 213, 255);
  }

  